@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Nav */

.header {
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.header .logo img {
    width: 200px;
    margin-top: 20px;
}

.header .main-nav a {
    color: #222;
    text-decoration: none;
    margin: 0 3rem;
}

/* GRID */

.grid {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(260px, auto);
}

.grid-item {
    background-color: #ddd;
}